body {
    background-image: url(https://s.itl.cat/pngfile/s/230-2309584_fondo-color-vino-tinto.jpg);
    background-image: transparent;
    width: 1000px;
    margin: 0px auto;
}

li {
    text-align: left;
    margin-left: 20px;
}

h1 {
    text-decoration: overline;
    color: rgb(223, 223, 160);
    padding: 25px 20px 0px 20px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: lighter;
    cursor: default;
}

h2 {
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}

h2:hover {
    color: coral;
    cursor: pointer;
}

p {
    font-weight: 80px;
}

.fondo {
    padding: 3px 53px 0px 26px;
    margin: 100px 20px 30px 20px;
    background-color: rgba(128, 107, 88, 255);
    border-radius: 40px;
    display: inline-flex;
}

@media (max-width: 644px) {
    .container {
        background-color: rgba(128, 107, 88, 255);
        border-radius: 40px;
    }
}

.centrado2 {
    text-align: center;
    margin: 0 30px 30px 30px;
}

.columna1,
.columna2,
.columna3 {
    width: 30%;
    height: 250px;
    margin: 1%;
    float: left;
    background-color: brown;
    border-radius: 30px;
    cursor: default;
    transition: width 2s, height 0.5s;
}

.texto {
    color: #2c2b2b;
    text-align: center;
}

.oculta {
    display: none;
}

.texto:hover+.oculta {
    display: block;
    transition: 0.5s;
}

.columna1:hover,
.columna2:hover,
.columna3:hover {
    height: 300px;
}

.container {
    background-color: rgb(141, 0, 0);
}

.centrado {
    text-align: center;
}

.img {
    max-width: 77px;
    border-radius: 150px;
    margin: 24px 28px 20px 41px;
}

.facebook,
.instagram,
.twitter {
    max-width: 20px;
    margin: 8px 4px 1px 0px;
    text-align: right;
    margin-left: 20px;
    cursor: pointer;
}

.facebook:hover,
.instagram:hover,
.twitter:hover {
    -webkit-filter: invert(25%) sepia() saturate(100000%) hue-rotate(174deg);
    filter: invert() sepia() saturate() hue-rotate();
}

.iconos {
    display: table-caption;
}