.container {
    background-color: rgb(141, 0, 0);
}

h1 {
    text-decoration: overline;
    color: rgb(223, 223, 160);
    padding-top: 100px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: lighter;
}

.centrado {
    text-align: center;
}